/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE

========================================================  */


/* =============================================================
   GENERAL STYLES
 ============================================================ */

@import url(http://fonts.googleapis.com/css?family=Montserrat); /* FREE GOOGLE FONT */

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 30px;
  font-size: 16px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*** ego fiddle ***/
.social_share_privacy_area li.help_info .info,
.social_share_privacy_area li.help_info.icon .info {
  width: 160px !important;
}

i.fa {
  width: 25px;
}

.collapse-only {
  display: none;
}

.in .collapse-only {
  display: inherit;
}

.in .fa {
  display: none;
}

.card {
  height: 100%;
  width: 200px;
  overflow-y: visible;
  overflow-x: visible;
  position: fixed;
  bottom: 0em;
  right: 5em;
}

.card_content {
  padding: 10px;
  position: absolute;
  bottom: -336px;
  transition: all 0.5s ease;
}

.card_content h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.card_content:hover {
  bottom: 0.5em;
}

/* =============================================================
   HEAD SECTION STYLES
 ============================================================ */

#head {
  background: url(../img/header.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  color: #fff;
}
#head a.navbar-brand,#head a.navbar-brand:hover {
  text-decoration:none;
  color:#fff;
  float: none;
}
#head .navbar {
  background-color: rgba(40, 40, 40, 0.8);
  min-height: 200px;
}

#head h1 {
  font-family: 'Wire One', sans-serif;
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0;
}

#head p {
  font-weight: 900;
  font-size: 16px;
  color: #46beac;
}

.adv-div {
  vertical-align: middle;
  color: #808080;
  margin: 30px;
}

/*=====================================
    SOCIAL BUTTON STYLES
======================================*/
.navbar .btn-social,
.navbar-inverse .navbar-nav > li > a.btn-social {
  color: white;
  background-color: rgba(92, 92, 92, 0.38);
}

.navbar .btn-social:hover,
.navbar-inverse .navbar-nav > li > a.btn-social:hover {
  text-decoration: none;
  background-color: rgba(92, 92, 92, 0.68);
}

.nav li {
  margin-right: 5px;
  margin-top: 15px;
}

.nav li a {
  padding: 10px;
}
/* =============================================================
   BLOG SECTION STYLES
 ============================================================ */
#blog {
  min-height:400px;
}
.img-blog {
  width: 200px;
  height: 200px;
  text-align: center;
}

.custom-blog, .h-entry {
  padding-bottom: 30px;
  border-bottom: 1px dotted #e1e1e1;
  margin-bottom: 30px;
}

.custom-blog p, .h-entry p {
  padding-bottom: 10px;
}

.custom-blog h1,
.custom-blog h1>a,
.h-entry h1,
.h-entry h1>a {
  padding-bottom: 20px;
  color: #46beac;
  line-height: 50px;
}

.page-set {
  text-align:center;
  padding:5px;
}

/*================================
    COMMENT STYLES
 ============================  */
.comment-sec h1 {
  padding-bottom:30px;
}
.comment-sec .comment-wrapper {
  padding:20px;
  border:1px dashed rgba(92, 92, 92, 0.38);
  margin:10px;
}
.set-post {
  padding:20px;
  margin:10px;
}

/*================================
    FOOTER SECTION STYLES
 ============================  */
footer {
  padding: 20px;
  color: #46beac;
  font-size: 16px;
  background-color: rgba(16, 16, 16, 0.9);
}

footer a, footer a:hover, footer a:focus {
  color: #46beac;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
