/*
  css based on "minimal" from www.designbootstrap.com
  license: mit
*/

/*
  general style
*/
@import url(http: //fonts.googleapis.com/css?family=montserrat); /* free google font */

body {
  font-family: Montserrat, sans-serif;
  line-height: 30px;
  font-size: 16px;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*
 social share buttons
*/

.social_share_privacy_area li.help_info .info,.social_share_privacy_area li.help_info.icon .info {
  width: 160px!important;
}

.card {
  height: 100%;
  width: 200px;
  overflow-y: visible;
  overflow-x: visible;
  position: fixed;
  bottom: 0;
  right: 5em;
}

.card_content {
  position: absolute;
  bottom: -336px;
  transition: all .5s ease;
  padding: 10px;
}

.card_content h3 {
  font-size: 1.5em;
  margin-bottom: .5em;
  text-align: center;
}

.card_content:hover {
  bottom: .5em;
}

/*
 head style
*/

#head {
  background: url(../img/header.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  color: #fff;
  padding: 0;
}

#head a.navbar-brand,#head a.navbar-brand:hover {
  text-decoration: none;
  color: #fff;
  float: none;
}

#head .navbar {
  background-color: rgba(40,40,40,0.8);
  min-height: 200px;
}

#head h1 {
  font-family: 'Wire One', sans-serif;
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 55px;
  text-transform: uppercase;
  margin: 0;
}

#head p {
  font-weight: 900;
  font-size: 16px;
  color: #46beac;
}

/*
 button style
*/

.navbar .btn-social,.navbar-inverse .navbar-nav > li > a.btn-social {
  color: #FFF;
  background-color: rgba(92,92,92,0.38);
}

.navbar .btn-social:hover,.navbar-inverse .navbar-nav > li > a.btn-social:hover {
  text-decoration: none;
  background-color: rgba(92,92,92,0.68);
}

.nav li {
  margin-right: 5px;
  margin-top: 15px;
}

.nav li a {
  padding: 10px;
}

i.fa {
  width: 25px;
}

.collapse-only,.in .fa {
  display: none;
}

.in .collapse-only {
  display: inherit;
}

/*
 blog style
*/

.h-entry {
  padding-bottom: 30px;
  border-bottom: 1px dotted #e1e1e1;
  margin-bottom: 30px;
}

.h-entry p {
  padding-bottom: 10px;
}

.h-entry h1,.h-entry h1>a {
  padding-bottom: 20px;
  color: #46beac;
  line-height: 50px;
}

.page-set {
  text-align: center;
  padding: 5px;
}

/*
 comment style
*/

.comment-sec h1 {
  padding-bottom: 30px;
}

.comment-sec .comment-wrapper {
  border: 1px dashed rgba(92,92,92,0.38);
  margin: 10px;
  padding: 20px;
}

.set-post {
  margin: 10px;
  padding: 20px;
}

/*
 footer style
*/

footer {
  color: #46beac;
  font-size: 16px;
  background-color: rgba(16,16,16,0.9);
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

footer a,footer a:hover,footer a:focus {
  color: #46beac;
  text-decoration: none;
}
