[submodule "reveal.js"]
	path = talks/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "Fork-Awesome"]
	path = talks/Fork-Awesome
	url = https://github.com/ForkAwesome/Fork-Awesome
[submodule "highlight.js"]
	path = talks/highlight.js
	url = https://github.com/highlightjs/highlight.js
[submodule "reveal.js-mermaid-plugin"]
	path = talks/reveal.js-mermaid-plugin
	url = https://github.com/zjffun/reveal.js-mermaid-plugin
