## -*- coding: utf-8 -*-
## Override only the functions that differ from base or boopstrap/templates/base_helper.tmpl
<%def name="html_navigation_links()">
    %for url, text, icon in navigation_links[lang]:
        % if rel_link(permalink, url) == "#":
            <li><a class="btn btn-social" href="${permalink}" title="${text}"><i class="fa ${icon} fa-2x"></i><span class="collapse-only">${text}</span><span class="sr-only">${messages("(active)", lang)}</span></a>
        %else:
            <li><a href="${url}" class="btn btn-social" title="${text}"><i class="fa ${icon} fa-2x"></i><span class="collapse-only">${text}</span></a>
        %endif
    %endfor
</%def>
